##**1. Data Preprocessing**

In [ ]:

# Importing Basic Packages

import json
import csv
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from tqdm import tqdm, tqdm_notebook, tnrange

# Display Settings

pd.set_option('display.max_columns', 50)

In [ ]:

# Importing Yelp Business JSON File

business = []

with open("/content/drive/MyDrive/CF Project yelp/yelp_academic_dataset_business.json") as f:
    for line in f:
        business.append(json.loads(line))

# Length of rows of Data

len(business)

160585

In [ ]:
business[0]

{'address': '921 Pearl St',
 'attributes': {'Alcohol': "'beer_and_wine'",
  'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}",
  'BikeParking': 'True',
  'BusinessAcceptsBitcoin': 'False',
  'BusinessAcceptsCreditCards': 'True',
  'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",
  'Caters': 'True',
  'DogsAllowed': 'False',
  'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}",
  'HappyHour': 'True',
  'HasTV': 'True',
  'NoiseLevel': "u'average'",
  'OutdoorSeating': 'True',
  'RestaurantsAttire': "'casual'",
  'RestaurantsDelivery': 'None',
  'RestaurantsGoodForGroups': 'True',
  'RestaurantsPriceRange2': '2',
  'RestaurantsReservations': 'False',
  'RestaurantsTableService': 'True',
  'RestaurantsTakeOut': 'True',
  'WheelchairAccessible': 'True',
  'WiFi': "u'free'"},
 'business_id': '6iYb2HFDywm3zjuRg0shjw',
 'categories': 'Gastropubs, Food, Beer Gardens, Restaurants, Bars, American (Traditional), Beer Bar, Nightlife, Breweries',
 'city': 'Boulder',
 'hours': {'Friday': '11:0-23:0',
  'Monday': '11:0-23:0',
  'Saturday': '11:0-23:0',
  'Sunday': '11:0-23:0',
  'Thursday': '11:0-23:0',
  'Tuesday': '11:0-23:0',
  'Wednesday': '11:0-23:0'},
 'is_open': 1,
 'latitude': 40.0175444,
 'longitude': -105.2833481,
 'name': 'Oskar Blues Taproom',
 'postal_code': '80302',
 'review_count': 86,
 'stars': 4.0,
 'state': 'CO'}

In [ ]:

## Creating Dataframe for business json file

# Creating Columns for our Dataframe

business_id = []
city = []
state = []
stars = []
review_count = []
categories = []
postal_code = []
latitude = []
longitude = []
pricerange = []
is_open = []
name = []

# Iterating through each row of the json file

for entry in range(0, len(business)): 
        business_id.append(business[entry]['business_id'])
        name.append(business[entry]['name'])
        city.append(business[entry]['city'])
        state.append(business[entry]['state'])
        stars.append(business[entry]['stars'])
        postal_code.append(business[entry]['postal_code'])
        review_count.append(business[entry]['review_count'])
        categories.append(business[entry]['categories'])
        latitude.append(business[entry]['latitude'])
        longitude.append(business[entry]['longitude'])
        is_open.append(business[entry]['is_open'])


business = {'business_id ':business_id,'name':name,'city':city,'state':state,'stars':stars,'review_count':review_count,
        'categories':categories,'latitude':latitude,'longitude':longitude,'is_open':is_open, 'postal_code':postal_code}

business_df  = pd.DataFrame(business)

#business_df.to_csv('/content/drive/MyDrive/CF Project yelp/CSV/business.csv')

# Overview of our Business Dataframe

print(business_df.shape) 
business_df.head()

(160585, 11)

,business_id,name,city,state,stars,review_count,categories,latitude,longitude,is_open,postal_code
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,CO,4.0,86,"Gastropubs, Food, Beer Gardens, Restaurants, B...",40.017544,-105.283348,1,80302
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,Portland,OR,4.0,126,"Salad, Soup, Sandwiches, Delis, Restaurants, C...",45.588906,-122.593331,1,97218
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,Portland,OR,4.5,13,"Antiques, Fashion, Used, Vintage & Consignment...",45.511907,-122.613693,1,97214
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,Orange City,FL,3.0,8,"Beauty & Spas, Hair Salons",28.914482,-81.295979,1,32763
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,Atlanta,GA,4.0,14,"Gyms, Active Life, Interval Training Gyms, Fit...",33.747027,-84.353424,1,30316

In [ ]:
# Overview of Business/Restaurant Categories

business_categories = business_df.assign(categories = business_df.categories.str.split(', ')).explode('categories')

print(str('The number of unique business categories is:'), len(business_categories))

# Most Common Business Categories

business_categories.categories.value_counts().head(25)

The number of unique business categories is: 709083

Restaurants                  50763
Food                         29469
Shopping                     26205
Beauty & Spas                16574
Home Services                16465
Health & Medical             15102
Local Services               12192
Nightlife                    11990
Bars                         10741
Automotive                   10119
Event Planning & Services     9644
Active Life                   9231
Coffee & Tea                  7725
Sandwiches                    7272
Fashion                       6599
American (Traditional)        6541
Hair Salons                   5900
Pizza                         5756
Hotels & Travel               5703
Breakfast & Brunch            5505
Home & Garden                 5499
American (New)                5458
Real Estate                   5361
Arts & Entertainment          5314
Fast Food                     5300
Name: categories, dtype: int64

In [ ]:

# Filtering for Restaurant Food Businesses

business_food = business_df[business_df['categories'].str.contains('Restaurants|Fast Food|Breakfast & Brunch|Cafes',
                case=False, na=False)]

# Filtering only for Restaurants that are still open for business, open = 1, closed = 0

business_food = business_food[business_food['is_open']==1]
business_food.head()

,business_id,name,city,state,stars,review_count,categories,latitude,longitude,is_open,postal_code
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,CO,4.0,86,"Gastropubs, Food, Beer Gardens, Restaurants, B...",40.017544,-105.283348,1,80302
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,Portland,OR,4.0,126,"Salad, Soup, Sandwiches, Delis, Restaurants, C...",45.588906,-122.593331,1,97218
5,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,Vancouver,BC,3.5,169,"Restaurants, Thai",49.251342,-123.101333,1,V5V
7,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,Columbus,OH,4.5,11,"Breakfast & Brunch, Restaurants",39.947007,-82.997471,1,43206
12,HPA_qyMEddpAEtFof02ixg,Mr G's Pizza & Subs,Peabody,MA,4.0,39,"Food, Pizza, Restaurants",42.541155,-70.973438,1,01960

In [ ]:
business_food.shape

(32053, 11)

In [ ]:

# Top States that have the most number of Restaurant Businesses in this dataset

top_states = business_food['state'].value_counts().head(10)
top_states

MA    6467
FL    5401
BC    4731
OR    4229
GA    3923
TX    3158
OH    3108
WA     532
CO     497
MN       1
Name: state, dtype: int64

In [ ]:
# Top Cities that have the most number of Restaurant Businesses in this dataset

top_cities = business_food['city'].value_counts().head(20)
top_cities

Portland           3115
Vancouver          2976
Austin             2836
Orlando            2568
Atlanta            2551
Columbus           1789
Boston             1656
Richmond            601
Kissimmee           525
Burnaby             482
Cambridge           429
Boulder             370
Beaverton           362
Decatur             328
North Vancouver     265
Somerville          241
Surrey              239
Winter Park         227
Coquitlam           226
Quincy              188
Name: city, dtype: int64

In [ ]:

# Importing Review JSON File

reviews = []

with open('/content/drive/MyDrive/CF Project yelp/yelp_academic_dataset_review.json') as f:
    for line in f:
        reviews.append(json.loads(line))

# Length of rows of Data        

len(reviews)  # 8,021,122 reviews

8635403

In [ ]:

# Overview of columns of each entry of the Review file

reviews[0]

{'business_id': 'buF9druCkbuXLX526sGELQ',
 'cool': 1,
 'date': '2014-10-11 03:34:02',
 'funny': 1,
 'review_id': 'lWC-xP3rd6obsecCYsGZRg',
 'stars': 4.0,
 'text': "Apparently Prides Osteria had a rough summer as evidenced by the almost empty dining room at 6:30 on a Friday night. However new blood in the kitchen seems to have revitalized the food from other customers recent visits. Waitstaff was warm but unobtrusive. By 8 pm or so when we left the bar was full and the dining room was much more lively than it had been. Perhaps Beverly residents prefer a later seating. \n\nAfter reading the mixed reviews of late I was a little tentative over our choice but luckily there was nothing to worry about in the food department. We started with the fried dough, burrata and prosciutto which were all lovely. Then although they don't offer half portions of pasta we each ordered the entree size and split them. We chose the tagliatelle bolognese and a four cheese filled pasta in a creamy sauce with bacon, asparagus and grana frita. Both were very good. We split a secondi which was the special Berkshire pork secreto, which was described as a pork skirt steak with garlic potato purée and romanesco broccoli (incorrectly described as a romanesco sauce). Some tables received bread before the meal but for some reason we did not. \n\nManagement also seems capable for when the tenants in the apartment above began playing basketball she intervened and also comped the tables a dessert. We ordered the apple dumpling with gelato and it was also quite tasty. Portions are not huge which I particularly like because I prefer to order courses. If you are someone who orders just a meal you may leave hungry depending on you appetite. Dining room was mostly younger crowd while the bar was definitely the over 40 set. Would recommend that the naysayers return to see the improvement although I personally don't know the former glory to be able to compare. Easy access to downtown Salem without the crowds on this month of October.",
 'useful': 3,
 'user_id': 'ak0TdVmGKo4pwqdJSTLwWw'}

In [ ]:

## Creating Dataframe for review json file

# Creating Columns for Dataframe

reviewid = []
businessid= []
userid = []
stars = []
useful = []
funny = []
cool = []
text = []
date = []

# Iterating through each row of the json file

for entry in range(0, len(reviews)):     
    reviewid.append(reviews[entry]['review_id'])
    businessid.append(reviews[entry]['business_id'])
    userid.append(reviews[entry]['user_id'])
    stars.append(reviews[entry]['stars'])
    text.append(reviews[entry]['text'])
    date.append(reviews[entry]['date'])
    useful.append(reviews[entry]['useful'])
    funny.append(reviews[entry]['funny'])
    cool.append(reviews[entry]['cool'])
    
reviews = {'review_id':reviewid,'business_id':businessid,'user_id':userid,'stars':stars,'useful':useful,'funny':funny,
           'cool':cool,'text':text,'date':date}

reviews_df  = pd.DataFrame(reviews)

# Overview of our Review Dataframe

print(reviews_df.shape)
reviews_df.to_csv('/content/drive/MyDrive/CF Project yelp/CSV/business.csv')
reviews_df.head()

(8635403, 9)

,review_id,business_id,user_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,buF9druCkbuXLX526sGELQ,ak0TdVmGKo4pwqdJSTLwWw,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02
1,8bFej1QE5LXp4O05qjGqXA,RA4V8pr014UyUbDvI-LW2A,YoVfDbnISlW0f7abNQACIg,4.0,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25
2,NDhkzczKjLshODbqDoNLSg,_sS2LBIGNT5NQb6PD1Vtjw,eC5evKn1TWDyHCyQAwguUw,5.0,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06
3,T5fAqjjFooT4V0OeZyuk1w,0AzLzHfOJgL7ROwhdww2ew,SFQ1jcnGguO0LYWnbbftAA,2.0,1,1,1,I've stayed at many Marriott and Renaissance M...,2010-01-08 02:29:15
4,sjm_uUcQVxab_EeLCqsYLg,8zehGz9jnxPqXtOc7KaJxA,0kA0PAJ8QFMeveQWHFqz2A,4.0,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01

In [ ]:
reviews_df.to_csv('/content/drive/MyDrive/CF Project yelp/CSV/review.csv')

In [ ]:

# Splitting Date Column into Year, Month and Time Columns

def create_yr(x): 
    return x.split('-')[0] 

def create_mth(x): 
    return x.split('-')[1] 

def create_time(x):
    return x.split(' ')[1]

reviews_df['year'] = reviews_df.date.apply(create_yr)
reviews_df['month'] = reviews_df.date.apply(create_mth)
reviews_df['time'] = reviews_df.date.apply(create_time)

# Overview of new df with 3 new columns

reviews_df.head()

,review_id,business_id,user_id,stars,useful,funny,cool,text,date,year,month,time
0,lWC-xP3rd6obsecCYsGZRg,buF9druCkbuXLX526sGELQ,ak0TdVmGKo4pwqdJSTLwWw,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02,2014,10,03:34:02
1,8bFej1QE5LXp4O05qjGqXA,RA4V8pr014UyUbDvI-LW2A,YoVfDbnISlW0f7abNQACIg,4.0,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25,2015,07,20:38:25
2,NDhkzczKjLshODbqDoNLSg,_sS2LBIGNT5NQb6PD1Vtjw,eC5evKn1TWDyHCyQAwguUw,5.0,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06,2013,05,20:38:06
3,T5fAqjjFooT4V0OeZyuk1w,0AzLzHfOJgL7ROwhdww2ew,SFQ1jcnGguO0LYWnbbftAA,2.0,1,1,1,I've stayed at many Marriott and Renaissance M...,2010-01-08 02:29:15,2010,01,02:29:15
4,sjm_uUcQVxab_EeLCqsYLg,8zehGz9jnxPqXtOc7KaJxA,0kA0PAJ8QFMeveQWHFqz2A,4.0,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01,2011,07,18:05:01

In [ ]:
# Filtering for Restaurant/Food Reviews from 2015-2019

restaurant_reviews['year'] = restaurant_reviews['year'].astype(int)
restaurant_reviews = restaurant_reviews[restaurant_reviews['year'] >= 2015]

# Overview of our Final Reviews Dataset, left with 415,038 rows of Data

print(restaurant_reviews.shape)
restaurant_reviews.head()

In [ ]:
 Checking for Null Values

restaurant_reviews.isnull().sum()

In [ ]:
:
# Importing User JSON File

line_count = len(open("/content/drive/MyDrive/CF Project yelp/yelp_academic_dataset_user.json").readlines())

# Creating Columns for Dataframe

users, names, review_counts, since, friends, useful, \
            funny, cool, n_fans, years_elite, average_stars = [], [], [], [], [], [], [], [], [], [], []

# Iterating through each row of the json file

with open("/content/drive/MyDrive/CF Project yelp/yelp_academic_dataset_user.json") as f:
    for line in tqdm(f, total=line_count):
        blob = json.loads(line)
        users += [blob["user_id"]]
        names += [blob["name"]]
        review_counts += [blob["review_count"]]
        since += [blob["yelping_since"]]
        friends += [blob["friends"]]
        useful += [blob["useful"]]
        funny += [blob["funny"]]
        cool += [blob["cool"]]
        n_fans += [blob["fans"]]
        average_stars += [blob["average_stars"]]

# Creating Dataframe for User json file

users_df = pd.DataFrame(
    {"user_id": users, 
     "user_name": names,
     "user_review_count": review_counts,
     "user_yelp_since": since,
     "friends": friends,
     "useful_reviews": useful,
     "funny_reviews": funny,
     "cool_reviews": cool,
     "n_fans": n_fans,
     "average_stars": average_stars
    }
)